<app-navigation></app-navigation>

<div class="justify-items-center">
    <div class="grid grid-cols-1 place-items-center justify-items-center">
        <div class="w-[50%] bg-secondary rounded p-4">
            <div class="grid grid-cols-1 place-items-center justify-items-center">
                <div class="text-3xl p-2 text-discord">Access Roach via Discord</div>
                <div class="p-2 w-[50%]">
                    In order to access our service, you must authenticate through Discord. With this method, we prevent storing your user data that could be harmful.
                </div>
                <div  class="p-2"><a class="text-discord border-discord border-2 rounded text-lg p-3 w-48 inline-block text-center hover:bg-discord hover:text-text"
                    [href]="url"
                     ><i class="bi-discord"></i> Login</a></div>
            </div>
            <ng-template *ngIf="!state">
                <div class="grid grid-cols-1 place-items-center justify-items-center">
                    <div class="text-3xl">Loading</div>
                    <div class="">Please wait while we prepare the page!</div>
                </div>
            </ng-template>
        </div>
    </div>
</div>