<app-navigation></app-navigation>

<div class="text-center text-4xl pb-4">
    Guide: First Time Roach Setup
</div>
<div class="ml-[30%] rounded bg-secondary mr-[30%] p-2">
    <div class="p-2">
        <div class="text-2xl p-2 text-primary">Step 1: Welcoming Roach</div>
        <p class="p-2">
            <a class="text-white bg-discord opacity-90 rounded text-lg p-3 inline-block text-center hover:opacity-100 hover:text-text" 
                href="https://discord.com/api/oauth2/authorize?client_id=756971852701892648&permissions=268774464&scope=bot" 
                target="_blank" 
                rel="noopener noreferrer">
                <i class="bi-discord"></i> Add Roach To Your Discord
            </a>
        </p>
    </div> 
    <div class="p-2">
        <div class="text-2xl p-2 text-primary">Step 2: Adjusting Roles</div>
        <p class="p-2">
            In order for Roach to properly function, you need to ensure that the <span class="font-semibold text-primary">Roach</span> role is set above all roles, like this: 
            <img src="assets/roach-roles.png" class="rounded-xl pt-2" />
            Do know that Roach does not need to be at the very top, just simply above the roles you intend to have as role reactions.
        </p>
    </div>
    <div class="p-2">
        <div class="text-2xl p-2 text-primary">Step 3: Add a Text Channel for Roach</div>
        <p class="p-2">
            Next, you need to create a channel for Roach. A common example would be to create a Text Channel called #roles. You can always change it later here if you create a new channel.<br />
            Note: When you finish your changes, you should immediately notice the change (either the message was edited or a new one was created) in the channel. 
        </p>
        
    </div>
    <div class="p-2">
        <div class="text-2xl p-2 text-primary">Step 4: Add Roles and Emotes</div>
        <p class="p-2">
            Lastly, add any roles and emotes you would like to associate/combine. You can always come back to this website and update the roles or emotes respectively. Remember to submit all changes before testing if it works! 
        </p>
        
    </div>
    <div class="p-2">
        <div class="text-2xl p-2 text-primary">Step 5: Use Our Website</div>
        <p class="p-2">
            The goal of this website was to remove any obnoxious commands you would have to make in Discord itself. You should be able to update Roach, if setup properly, on this website with just your Discord account. 
        </p>
        <p class="p-2">
            <a href="discords" class="rounded bg-success text-text p-3">Start Creating Role Reactions!</a>
        </p>
        
    </div>
</div>