
<nav class="pb-7">
    <div class="bg-secondary rounded-bl-md text-xl flex flex-row items-center p-2 h-20">
        <div class="inline-block text-3xl font-bold">
            <a href="/" class="hover:text-primary aling-middle">
                <img src="../../assets/roach_logo_discord.png" class="h-14 w-14 inline-block align-middle"> Roach
            </a>
        </div>
        <div class="flex-grow min-w-fit text-center">
            <div class="inline-block p-2">
                <a href="setup" class="inline-block font-semibold p-3 rounded-xl hover:bg-background"><i class="bi-robot"></i> Setup Bot</a>
            </div>
            <div class="inline-block p-2">
                <a href="discords" class="inline-block font-semibold p-3 rounded-xl hover:bg-background"><i class="bi-chat-right-heart"></i> Role Reactions</a>
            </div>
            <div class="inline-block p-2">
                <a href="contact" class="inline-block font-semibold p-3 rounded-xl hover:bg-background"><i class="bi-envelope"></i> Contact Us</a>
            </div>
            <div class="inline-block p-2">
                <a href="faq" class="inline-block font-semibold p-3 rounded-xl hover:bg-background"><i class="bi-question-circle"></i> FAQ</a>
            </div>
            <div class="inline-block" *ngIf="admin">
                <a href="admin" class="inline-block font-semibold p-3 rounded-xl text-danger hover:bg-background"><i class="bi-person-circle"></i> Admin</a>
            </div>
        </div>
        <div class="text-right">
            <a href="account" *ngIf="isLoggedIn" class="p-4 hover:text-primary"><img [src]="avatar" class="rounded-full w-10 inline-block" /> {{ name }}</a>
            <a href="login" *ngIf="!isLoggedIn" class="p-3 hover:bg-background hover:opacity-90 text-discord"><i class="bi-discord"></i> Login with Discord</a>
        </div>
    </div>
</nav>
